.App {
  display: block;
  width: 100%;
  padding: 2em;
  background-color: #add8e690;
}

.inner-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #fff;
}

.inner-fill {
  width: 50%;
}

.login-form-container {
  display: block;
}

.login-form-container .logo {
  text-align: start;
}

.login-form-container .logo img {
  height: 30px;
  object-fit: cover;
}

.background {
  width: auto;
  width: fit-content;
}

.background img {
  max-height: 100vh;
  object-fit: cover;
}